<!doctype html>
<html>
<head>
    <title><%= shopName %> - Register</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1 class="main-title">Successfully Registered!!</h1>
    <div class="register-results">
        <h2>Your Registration Details:</h2>
        <ul>
            <li><strong>First Name:</strong> <%= formData.first_name %></li>
            <li><strong>Last Name:</strong> <%= formData.last_name %></li>
            <li><strong>Email:</strong> <%= formData.email %></li>
        </ul>
        <p >You are now registered! We will send you an email at <strong><%= formData.email %></strong></p>
    </div>
</body>
</html>